@font-face {
    font-family: Poppins;
    src: url(./fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: PostNoBills;
    src: url(./fonts/PostNoBills/PostNoBillsJaffna-Regular.ttf);
}